<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>-->

  <div class="buffer">
</div>

  <footer>
    <div class="container">
      <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-sm-4 social">
            <ul>
              <li><a target="_blank" href="https://www.facebook.com/ox3dp"><i class="fa fa-lg fa-facebook"></i></a></li>
              <li><a target="_blank" href="https://plus.google.com/+Oxford3DPrintingSociety/posts"><i class="fa fa-lg fa-google-plus"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/ox3dp"><i class="fa fa-lg fa-twitter"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/channel/UCz8R1f-XDtLbvjgr1c7Rhtg"><i class="fa fa-lg fa-youtube"></i></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/company/oxford-3d-printing-society"><i class="fa fa-lg fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <div class="vertical-align">
               <p>Copyright © Ox3DP 2016</p>
            </div>
          </div>
      </div>
      <!-- /.row -->
  </div>

  </footer>
