  <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" id="homeLink" href="index.html">
                    <img alt="Ox3DP" class="brandImage" src="img/OxRAM4.png">
                  </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <!-- <ul class="nav navbar-nav">
                  </ul> -->
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="calendarLink" href="calendar.html">Events</a>
                    </li>
                    <!-- <li>
                        <a id="sponsors" href="sponsors.html">Workshop</a>
                    </li> -->
                    <li>
                        <a id="sponsors" href="sponsors.html">Sponsors</a>
                    </li>
                    <li>
                        <a id="consulting-projectsLink" href="consulting-projects.html">Consulting &amp; Research</a>
                    </li>
                    <!--<li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education <span class="caret"></span></a>
                      <ul class="menu-item dropdown-menu">
                        <li><a id="definitionLink" href="definition.html">Definition</a></li>
                        <li class="menu-item dropdown dropdown-submenu">
                          <a id="various-processesLink" href="#" class="dropdown-toggle" data-toggle="dropdown">Various Processes</a>
                            <ul class="dropdown-menu">
                                <li class="menu-item"><a id="direct-energy-depositionLink" tabindex="-1" href="direct-energy-deposition.html">Direct Energy Deposition</a></li>
                                <li class="menu-item"><a id="powder-bed-fusionLink" href="powder-bed-fusion.html">Powder Bed Fusion</a></li>
                                <li class="menu-item"><a id="material-extrusionLink" href="material-extrusion.html">Material Extrusion</a></li>
                                <li class="menu-item"><a id="light-photopolymerizationLink" href="light-photopolymerization.html">Light Photopolymerization</a></li>
                            </ul>
                        </li>
                      </ul>
                    </li>-->
                    <li>
                        <a id="about" href="about.html">About</a>
                    </li>
                    <li>
                        <a id="about" href="register.html">Register</a>
                    </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <!-- /.container -->
      </nav>
