  <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" id="homeLink" href="{{ site.github.url }}/index.html">
                    <img alt="Ox3DP" class="brandImage" src="img/Ox3D_Logo.png">
                  </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <!-- <li>
                          <a id="printingLink" href="#">Print</a>
                      </li> -->
                      <li>
                          <a id="calendarLink" href="{{ site.github.url }}/calendar.html">Calendar</a>
                      </li>
                      <li>
                          <a id="consulting-projectsLink" href="{{ site.github.url }}/consulting-projects.html">Consulting &amp; Research</a>
                      </li>
                      <li>
                          <a id="sponsors" href="{{ site.github.url }}/sponsors.html">Sponsors</a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education <span class="caret"></span></a>
                        <ul class="menu-item dropdown-menu">
                          <li><a id="definitionLink" href="{{ site.github.url }}/definition.html">Definition</a></li>
                          <li class="menu-item dropdown dropdown-submenu">
                            <a id="various-processesLink" href="#" class="dropdown-toggle" data-toggle="dropdown">Various Processes</a>
                              <ul class="dropdown-menu">
                                  <li class="menu-item"><a id="direct-energy-depositionLink" tabindex="-1" href="{{ site.github.url }}/direct-energy-deposition.html">Direct Energy Deposition</a></li>
                                  <li class="menu-item"><a id="powder-bed-fusionLink" href="{{ site.github.url }}/powder-bed-fusion.html">Powder Bed Fusion</a></li>
                                  <li class="menu-item"><a id="material-extrusionLink" href="{{ site.github.url }}/material-extrusion.html">Material Extrusion</a></li>
                                  <li class="menu-item"><a id="light-photopolymerizationLink" href="{{ site.github.url }}/light-photopolymerization.html">Light Photopolymerization</a></li>
                              </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                          <a id="about" href="{{ site.github.url }}/about.html">About</a>
                      </li>
                  </ul>
                  <!-- <ul class="nav navbar-nav navbar-right">
                      {{> loginButtons}}
                  </ul> -->
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
